html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    }

body {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main-website {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color:#5d236a;
}

.main-website header {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 60px;
}

.main-website header h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

.main-website header p {
    font-size: 20px;
    color: lightgrey;
}

.main-website section {
    display: flex;
    background-color: #9f355c;
    align-items: center;
}

.main-website .youtubeclone-section{
    border: solid black;
    border-width: 1px 0 0 0;
}

.main-website section img {
    width: 800px;
}

.project-description {
    padding: 60px 80px 60px 75px;
}

.main-website section h2 {
    margin-bottom: 30px;
}

.main-website section p {
    margin-bottom: 40px;
    color: lightgrey;
}

.main-website section p {
    margin-bottom: 40px;
    color: lightgrey;
}

.main-website section button {
    height: 42px;
    width: 130px;
    border: solid lightgray;
    border-radius: 21px;
    border-width: 1px;
    background: transparent;
}

.main-website section button a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

body footer ul {
    display: flex;
    justify-content: space-around;
    height: 140px;
    list-style: none;
    font-size: 35px;
    align-items: center;
}

body footer ul a {
    text-decoration: none;
    color: white;
}

aside {
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    min-height: 100%;
    width: 20%;
    background-color: #852c72;
}

aside ul {
    width: 100%;
}

aside ul a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    margin: 0 15% 0 0;
    font-size: 12px;
    color: rgb(139, 138, 138);
}

aside ul a:hover {
    color: lightgray; 
}

aside ul a:active {
    color: #ffffff;
}

aside ul a .line {
    width: 80%;
    height: 0px;
    border-top: solid black;
    border-width: 3px;
    margin: 15px 0 40px 0;
}

@media only screen and (max-width: 1200px) {
    
    body {
        display: flex;
        flex-direction: column;
    }

    .main-website {
        width: 100%;
    }

    aside {
        position: static;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
    
    aside ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 200px 200px 200px 1fr;
        grid-template-rows: 100px;
    }

    .grid-column-setter {
        grid-column-start: 2;
    }

    .grid-column-setter2 {
        grid-column-start: 3;
    }

    .grid-test {
        justify-self: center;
    }

    aside ul a .line {
        display: none;
    }
  }
