/* global */

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.main-color {
  color: lightblue;
}

.raleway {
  font-family: raleway, sans-serif, arial;
}

*,
*:focus,
*:hover {
  outline: none;
}

/* showcase */

#showcase {
  font-family: raleway, sans-serif, arial;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

.showcase-header {
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0%);
  width: 45vw;
  text-align: center;
  color: #fff;
  font-size: 3.2vw;
  line-height: 4vw;
  pointer-events: none;
}

.showcase-phrase {
  margin-bottom: 32px;
}

#showcase-button {
  width: 12vw;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 12px 18px;
  margin-top: 20px;
  cursor: pointer;
  pointer-events: auto;
}

#showcase-button:hover {
  text-decoration: none;
  background-color: rgb(119, 195, 221);
  color: white;
  border-color: rgb(119, 195, 221);
  transition: 0.75s;
}

/* about */

#about {
  min-height: 100vh;
  font-family: raleway, sans-serif, arial;
  font-weight: 600;
  padding-top: 50px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  font-family: raleway, sans-serif, arial;
  font-weight: 600;
  height: 55px;
  background-color: rgb(0, 0, 85);
}

.nav-item-list {
  width: 50%;
  margin-bottom: 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.nav-item a:hover {
  text-decoration: none;
  color: lightblue;
}

.thin-deko-line {
  height: 5px;
  background-color: lightblue;
}

.section-header {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-top: 40px;
}

.section-header-underline {
  width: 110px;
  height: 3px;
  background-color: black;
  margin-top: 10px;
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin-top: 50px;
}

.circle-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.circle {
  position: relative;
  height: 120px;
  width: 120px;
  background-color: lightblue;
  border-radius: 50%;
  font-size: 60px;
  margin-bottom: 12px;
}

.circle i {
  position: absolute;
  top: 53%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  height: 70px;
  color: white;
}

.circle-container p
.self-picture-section p{
  color: rgb(124, 124, 124);
}

.circle-header {
  font-size: 24px;
  margin-bottom: 0;
  margin-bottom: 6px;
}

.circle-description {
  font-size: 16px;
}

.self-presentation {
  width: 850px;
  padding-top: 20px;
}

.self-picture-section {
  width: 50%;
  text-align: center;
  padding: 0 30px;
}

.self-picture {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

.self-stack-section {
  width: 50%;
  padding: 0 60px;
}

.self-stack-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.self-stack-name {
  font-size: 28px;
}

.self-stack-check {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: lightblue;
  border-radius: 50%;
}

.self-stack-check i {
  position: absolute;
  top: 53%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
}

/* portfolio */

#portfolio {
  min-height: 100vh;
  background: #f5f5f5;
  font-weight: 600;
  padding-top: 50px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 900px;
  margin-top: 75px;
  margin-bottom: 150px;
}

.project-image-container {
  position: relative;
  width: 300px;
  height: 220px;
  background: #f5f5f5;
}

.project-image-container:after {
  position: absolute;
  width:100%;
  height:100%;
  content:'';
  background-image: url('../images/project.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.edeals:after {
  background-image: url('../images/edeals.png');
  background-position: 60% 10%;
}

.todos:after {
  background-image: url('../images/todos.png');
}

.procon:after {
  background-image: url('../images/procon.webp');
}

.project-image-container:hover:after {
  opacity: 0;
}

.project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.project-title {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 0;
}

.project-stack {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 30px;
}

.github-link {
  font-size: 14px;
  color: white;
  background-color: lightblue;
  margin-bottom: 8px;
  padding: 3px 8px;
  border: 1.4px solid lightblue;
}

.github-link:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  color: lightblue;
  transition: 1s;
}

.project-link {
  font-size: 22px;
  color: white;
  background-color: lightblue;
  margin-bottom: 37px;
  padding: 4px 11px;
  border: 2.2px solid lightblue;
}

.project-link:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  color: lightblue;
  transition: 1s;
}

/* contact */

#contact {
  min-height: 100vh;
  background: white;
  font-weight: 600;
  padding-top: 50px;
}

.contact-phrase {
  text-align: center;
  margin-top: 80px;
}

.input-container {
  width: 500px;
}

.name-input,
.mail-input,
.text-input {
  color: white;
  font-size: 21px;
  font-weight: 600;
  background-color: rgb(0, 0, 85);
  height: 40px;
  border: none;
  padding: 0 15px;
}

.text-input {
  height: 160px;
  overflow-wrap: break-all;
  padding-top: 4px;
}

.submit-input {
  width: 100px;
  align-self: flex-end;
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 0, 85);
  margin-bottom: 37px;
  padding: 4px 11px;
  border: 2.2px solid rgb(0, 0, 85);
}

.submit-input:hover {
  text-decoration: none;
  background-color: white;
  color: rgb(0, 0, 85);
  transition: 1s;
}

::placeholder {
  font-size: 21px;
  color: white;
}

footer {
  background-color: #f5f5f5;
  height: 200px;
}

.footer-circle {
  width: 66px;
  height: 66px;
  border: 2px solid lightblue;
  border-radius: 50%;
  background-color: lightblue;
  font-size: 35px;
  padding: 6px 8px 40px 14.5px;
  color: white;
}

.footer-circle:hover {
  color: lightblue;
  background-color: #f5f5f5;
  transition: 1s;
}

.year {
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
}

/* media-queries */

@media only screen and (max-width: 540px) {

  /* about */
  
  .nav-item-list {
    width: 85%;
  }

  .nav-item a {
    font-size: 13px;
  }

  .section-header {
    font-size: 28px;
  }

  .section-header-underline {
    width: 75px;
    margin-top: 0;
  }

  .circle {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: lightblue;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 8px;
  }
  
  .circle i {
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: 47px;
    color: white;
  }
  
  .circle-header {
    font-size: 16px;
    margin-bottom: 0;
    margin-bottom: 4px;
  }
  
  .circle-description {
    font-size: 11px;
  }

  .self-picture {
    height: 200px;
    width: 200px;
  }

  .self-stack-name {
    font-size: 20px;
  }

  .self-stack-section {
    padding: 0px 40px;
    width: 100%;
  }

  /* contact */

  .input-container {
    width: 250px;
  }
}

@media only screen and (max-width: 992px) {

  /* showcase */

  .showcase-header {
    font-weight: 600;
  }

  /* about */

  .circles {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    width: 100%;
  }

  .circle-container {
    width: 100%;
  }

  .self-presentation {
    width: 100%;
  }

  .self-stack-section {
    width: 100%;
  }
}


@media screen and (min-width: 541px) and (max-width: 992px) {
  
  .nav-item-list {
    width: 70%;
  }

  .self-stack-section {
    padding: 0 100px;
  }
}

@media screen and (max-width: 700px) {

  /* showcase */

  .showcase-header {
    width: 280px;
  }

  .showcase-header {
    font-size: 20.5px;
    line-height: 25px;
  }
  
  #showcase-button {
    width: 12vw;
    font-size: 16px;
    padding: 8px 12px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    width: 400px;
    margin-top: 75px;
  }

  .project-image-container {
    width: 200px;
    height: 140px;
  }

  .project-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .project-stack {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 17px;
  }
  
  .github-link {
    font-size: 8px;
    margin-bottom: 4px;
    padding: 1px 4px;
    border: 1px solid lightblue;
  }

  .project-link {
    font-size: 13px;
    margin-bottom: 22px;
    padding: 2px 6px;
    border: 2px solid lightblue;
  }
}

@media screen and (max-width: 440px) {
  .projects {
    grid-template-columns: 1fr;
    width: 250px;
  }

  .project-image-container {
    justify-self: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin-top: 75px;
  }
}

@media only screen and (min-width: 1200px) {

  /* about */

  .circles {
    width: 1100px;
  }

  .self-presentation {
    width: 1100px;
  }
}

@media only screen and (min-width: 1400px) {

  /* portfolio */

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin-top: 75px;
  }

  .project-image-container {
    width: 400px;
    height: 310px;
  }

  .project-title {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .project-stack {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 37px;
  }

  .github-link {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 3px 10px;
    border: 2px solid lightblue;
  }

  .project-link {
    font-size: 30px;
    margin-bottom: 50px;
    padding: 5px 15px;
    border: 3px solid lightblue;
  }
}
